@import "src/variables";
@import "src/partial_introduction";

.competition-page {
    .introduction-section {
        @include secondaryIntroduction;
    }
}

@media screen and (max-width: $threshold) {
    .introduction-section {
        padding: 40px 0;

        .content {
            h2 {
                font-size: 35px;
                line-height: 50px;
            }
        }
    }
}
