.competition-section {
    display: flex;
    justify-content: center;
    padding: 100px 20px;

    .texts {
        max-width: 610px;

        h2 {
            color: #2c61e9;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            color: #6b7280;
            line-height: 24px;
        }

        a {
            background-color: #3b82f6;
            color: white;
            border-radius: 6px;
            padding: 15px 30px;
            border: none;
            font-weight: 500;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 750px) {
    .competition-section {
        flex-direction: column;

        .texts {
            margin-bottom: 20px;
        }
    }
}
