@import "src/partial_introduction";
@import "src/variables";
@import "src/dark_theme_button";

.main-page {
    .introduction-section {
        @include basicIntroduction(100px 0 400px);

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1000px;
            padding: 0 $mobile-padding;
        }

        h1 {
            color: $white1;
            font-size: 72px;
            font-weight: 800;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            color: $white2;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            line-height: 28px;
        }

        a {
            @include darkThemeButton;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: $threshold) {
    .main-page {
        .introduction-section {
            padding-top: 40px;
            padding-bottom: 200px;

            h1 {
                text-align: left;
                font-size: 48px;
                line-height: 60px;
            }

            p {
                text-align: left;
            }
        }
    }
}
