@import "/src/variables";

.news {
    display: flex;
    flex-direction: column;

    .one-news {
        color: #444444;
        display: flex;
        flex-direction: column;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px 50px;

            h2 {
                font-size: 24px;
                line-height: 29px;
            }

            p.date {
                font-size: 19px;
                line-height: 23px;
                font-weight: 400;
            }
        }

        .content {
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            word-break: break-word;

            a {
                color: $link-color;
            }
        }
    }
}
