.sponsors-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: #f3f4f6;

    .container {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .blue {
            color: #1d4ed8;
        }

        h2 {
            color: #111827;
            text-align: center;
        }

        p {
            color: #6b7280;
            text-align: center;
        }

        .sponsors-logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;

            img {
                width: 256px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
