@import "src/variables";

.icon {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: var(--text-color1);

    .logo {
        width: 100px;
        object-fit: contain;
        object-fit: cover;
        margin-left: 2rem;
        margin-right: 1rem;
        cursor: pointer;
    }
}

@media screen and (max-width: $threshold) {
    .icon {
        span {
            display: none;
        }
    }
}
