@import "src/variables";

.icon {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: var(--text-color1);

    img {
        width: 100%;
        object-fit: cover;
    }

    .logo {
        width: 120px;
        object-fit: contain;
    }
}

@media screen and (max-width: $threshold) {
    .icon {
        span {
            display: none;
        }
    }
}
