.navbar {
    .navs {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;
        background-color: var(--bg-color1);
    }

    top: 0px;
    left: 0px;
    position: sticky;

    .collapsed-links {
        position: absolute;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--bg-color1);
        visibility: hidden;
        opacity: 0;

        &.show {
            transition: visibility 0s, opacity 0.2s linear;
            visibility: visible;
            opacity: 1;
        }

        a.active {
            color: var(--nav-link-active-color);
        }

        a:hover {
            color: var(--nav-link-active-color);
        }

        li {
            transition: 0.2s;
            cursor: pointer;

            a {
                color: var(--nav-link-color);
                display: block;
                padding: 10px 10px;
            }
        }
    }
}
