@import "/src/variables";

.nav {
    transition: 0.2s;

    .list-nav {
        list-style: none;
        margin-right: 40px;

        li {
            display: inline;
            margin-left: 30px;

            a {
                font-weight: 500;
                font-size: 14px;
                color: #6b7280;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    .collapsed-nav {
        background-color: transparent;
        border: none;
        margin-right: 20px;
        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    @media screen and (min-width: $threshold) {
        .list-nav {
            display: initial;
        }

        .collapsed-nav {
            display: none;
        }
    }

    @media screen and (max-width: $threshold) {
        .list-nav {
            display: none;
        }

        .collapsed-nav {
            display: initial;
        }
    }
}
