.footer {
    background-color: #1f2937;

    padding: 20px 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 50px;

    p {
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: space-between;
        flex-basis: 200px;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    p,
    svg {
        color: #9ca3af;
    }
}
