.sign-up-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;
    padding: 30px 10px;

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        h2 {
            margin-bottom: 0;
        }

        p {
            color: #6b7280;
        }
    }

    a {
        color: white;
        background-color: #3b82f6;
        border-radius: 6px;
        padding: 15px 30px;
    }
}
