$white1: #f3f4f6;
$white2: #dbeafe;
$blue1: #1d4ed8;

.introduction-section {
    background-color: hsla(0, 0%, 0%, 0.5);
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    padding-top: 180px;
    padding-left: 320px;
    padding-right: 320px;
    height: 1080px;

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 232px;

        h1 {
            color: $white1;
            font-weight: 800;
            font-size: 72px;
            margin-bottom: 0;
            margin-bottom: 20px;
        }

        p {
            color: $white2;
            font-size: 20px;
            font-weight: 700;
            width: 768px;
            text-align: center;
            margin-bottom: 20px;
        }

        a {
            font-weight: 500;
            font-size: 18px;
            font-family: inherit;
            color: $blue1;
            padding: 20px 60px;
            background-color: $white2;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
