@mixin basicIntroduction($padding: 200px 0) {
    background: linear-gradient(to right, rgba(#000, 0.5), rgba(#000, 0.5)),
        url("/src/assets/introduction.png");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: $padding;
}

@mixin secondaryIntroduction() {
    @include basicIntroduction;

    .content {
        max-width: 1000px;
        padding: 0 $mobile-padding;
    }

    h2 {
        color: $white1;
        font-size: 52px;
        font-weight: 800;
        margin-bottom: 20px;
        line-height: 65px;
    }

    p {
        color: $white2;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
}
