body {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    min-height: 100vh;
    background-color: var(--bg-color1);
}

body {
    --bg-color1: white;
    --bg-color2: #f3f4f6;
    --bg-color3: #f3f4f6;

    --text-color1: black;
    --text-color2: #6b7280;

    --heading-color1: #444;

    --button-bg-color1: #dbeafe;
    --button-bg-hover-color: #dbeafe;
    --button-text-color: #1d4ed8;

    --nav-link-color: #6b7280;
    --nav-link-active-color: black;
    --nav-link-hover-color: #454545;

    --stats-color: #00458f;
    --sponsors-bg-color: transparent;
    --special-text-color: black;
}

body.dark-theme {
    --bg-color1: #0c111b;
    --bg-color2: #0c111b;
    --bg-color3: #181d27;

    --text-color1: white;
    --text-color2: white;

    --heading-color1: white;

    --button-bg-color1: linear-gradient(#00458f, #ffee89);
    --button-bg-color2: linear-gradient(#0c111b, #0c111b);
    --button-bg-hover-color: linear-gradient(#00458f, #ffee89);
    --button-text-color: white;

    --nav-link-color: white;
    --nav-link-active-color: #1338be;
    --nav-link-hover-color: #73c2fb;

    --stats-color: #ffee89;
    --sponsors-bg-color: white;
    --special-text-color: #1d4ed8;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: var(--heading-color1);
}

p,
a,
label {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color1);
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
