@import "src/variables";

.about-page {
    .introduction-section {
        box-sizing: border-box;
        background-image: 
    // linear-gradient(
    //         0deg,
    //         hsla(0, 0%, 0%, 0.5),
    //         hsla(0, 0%, 0%, 0.5)
    //     ),
            url("/src/assets/placeholder.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 200px 0;

        .content {
            max-width: 1000px;
            padding: $mobile-padding;

            h2 {
                color: $white1;
                font-size: 52px;
                font-weight: 800;
                margin-bottom: 20px;
                line-height: 65px;
            }

            p {
                color: $white2;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
            }
        }
    }

    @media screen and (max-width: $threshold) {
        .introduction-section {
            padding: 40px 0;

            .content {
                h2 {
                    font-size: 35px;
                    line-height: 50px;
                }
            }
        }
    }
}
