@import "/src/variables";

.mission-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color1);

    .content {
        max-width: 1000px;
        margin: 50px 0;
        padding: 0 $mobile-padding;

        h2 {
            text-align: center;
            color: var(--heading-color1);
            font-size: 48px;
            font-weight: 800;
            line-height: 48px;
            margin-bottom: 50px;
        }

        p {
            color: var(--text-color2);
            font-size: 18px;
            line-height: 40px;
        }

        .who-we-are {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: 48px;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 0.4px;
                text-transform: uppercase;

                background: linear-gradient(90deg, #3b82f6 0%, #1e40af 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .members {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                max-width: 1200px;

                img {
                    width: 100%;
                    max-width: 600px;
                    object-fit: contain;
                }
            }
        }
    }
}

@media screen and (max-width: $threshold) {
    .mission-section {
        .content {
            p {
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}
